extends ../shared/template
block content

  #form 
    #visibility
      button#hide Hide Form
      button#show Show Form
    form(method='post', action='/')
      input(name='name', type='text', placeholder= 'recipe name' autofocus=true)
      input(name='photo', type='text', placeholder= 'url')
      input(name='ingredients', type='text', placeholder='chickent, etc')
      textarea(name='instructions')
      button Add Recipe
  #recipes
    each recipe in recipes
       include recipe



block scripts
  script(src='/js/user/home.js')

